<!--FileName: bottom_nav.ejs
//created by Deepa k
// student id :301250548
//30th September-->

<!--footer-->
<!--If condition to change the Footer to fixed or Sticky-->

<footer>
    <% if (title == "Home") { %>
    <nav class="navbar fixed-bottom navbar-dark bg-light"> 
        <h6 class="display-10">&copy; Copyright 2022.All Rights reserved.</h6>  
    </nav>
    <% } else { %>
        <nav class="navbar sticky-bottom navbar-dark bg-light"> 
            <h6 class="display-10">&copy; Copyright 2022.All Rights reserved.</h6>  
        </nav>
    <% } %>

  </footer>
